@import 'mixins';

body {
  font-family: $content-font;
  margin: 0px;
  padding: 0px;
  background-color: $main-color;
}

header {
  display: block;
  height: 60px;
  width: 100%;

  .banner {
    #main-banner {
      position: relative;
      background-color: $black;
      height: 60px;
      width: 100%;

      #logo_container {
        float: left;

        .navbar-brand {
          display: block;
          vertical-align: bottom;


          #logo {
            display: inline-block;
            height: 50px;
            width: 70px;
            vertical-align: top;
          }

          h3 {
            display: inline-block;
            line-height: 0;

            .main-title {
              font: 900 25px Montserrat, serif;
              color: $white;
            }

            .sub-title {
              font: 500 15px Roboto, serif;
              color: $silver;
            }
          }
        }

      }

      .nav {
        height: 60px;

        .nav-link {
          align-items: center !important;

          display: flex;
          justify-content: center;
          padding: 0px;

          a {
            font-size: 15pt;
            padding: 20px 15px;
            color: white;
          }

          a:hover {
            text-decoration: none;
            background-color: $sub-color;
          }

          &.active {
            a {
              font-weight: bolder;
            }
          }
        }
      }
    }

    #sub-banner {
      position: relative;
      background-color: $sub-color;
      height: 12px;
      width: 100%;
    }
  }

}

footer {
  min-height: 320px;
  background-color: #4F4D53;

  a {
    color: $white;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }

    &:hover * {
      text-decoration: none;
      color: $sub-color;
    }
  }

  .ico_title {
    margin-left: 5px;
    font: 900 20px Roboto, serif;
    color: $white;
  }

  .social_link {
    margin-right: 10px;
    font-size: 35px;
  }
}

footer:before {
  display: block;
  content: " ";
  width: 100%;
  height: 12px;
  background-color: $sub-color;
  margin-bottom: 20px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

h1 {
  padding-top: 15%;
  margin: 0;
  font: 900 100px $title-font;
  color: $orange;
}

h2 {
  padding-top: 15%;
  margin: 0;
  font: 900 64px $title-font;
  color: $white;
}

h3 {
  font: 900 20px Roboto, serif;
  color: $white;
}

h4 {
  font: 400 14px Roboto, serif;
  color: #FFFFFF;
  margin: 0px;
}

p {
  font: 400 20px Roboto, serif;
  color: $silver;
}