@import '~bootstrap/scss/bootstrap.scss';


@import url("https://fonts.googleapis.com/css?family=Montserrat:700|Roboto&display=swap");


$main-color: #333;
$sub-color: #00b140;
$orange: #d01a07;
$silver: #c9c0bb;
$white: #f9f9f9;
$black: #333;

$title-font: 'Montserrat',
sans-serif;
$content-font: 'Roboto',
sans-serif;